:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.prod-list{
  list-style-type: none;
  font-size: 20px;
  text-align: start;
}

input{
  width: 30%;
  height: 35px;
  font-size: 20px;
}
